<div class="card-deck">
 <section class="card p-3">
   <div class="card-header bg-transparent">
     <h1>Tecnologia</h1>
  </div>
  <div class="card-body">
    <p>
      Esta es una simple aplicación para manejo de recursos documentales desarrollado con Tecnologia MERN Stack(MongoDB, Express, ReactJS y NodeJS).
    </p>
    <ul>
      <li><a href="https://www.mongodb.com/es" target="_blank">MongoDB</a></li>
      <li><a href="https://expressjs.com/es/" target="_blank">Express</a></li>
      <li><a href="https://es.reactjs.org/" target="_blank">ReactJS</a></li>
      <li><a href="https://nodejs.org/es/" target="_blank">NodeJS</a></li>
    </ul>
  </div>
  <div class="card-footer bg-transparent ">
    <div class="text-center">
  <!-- <a class="btn btn-primary btn-lg " href="planes.html" role="button">Leer más</a> -->
  <div class="text-center">
    <img class="rounded mx-auto" width="70%" src="/img/mern_logo.png" alt="Logo Mern Stack">
  </div>
  </div>
</div>
</section>

<section class="card p-3">
  <div class="card-header bg-transparent">
  <h1>Recursos Comisión de la verdad</h1>
  </div>
  <div class="card-body">
    <p>
      Esta es una demostración de un protipo de aplicación para manejar recursos documentales para la comisión de la verdad, donde es necesario guardar recursos documentales usando el estándar Dublin Core.
    </p>
    <h1>Versión 0.1</h1>
    <p>Marzo de 2020</p>
  </div>
  <div class="card-footer bg-transparent ">
    <div class="text-center">
      <img class="rounded mx-auto" width="70%" src="/img/comisionverdad.png" alt="Logo comisión de la verdad">
  </div>
</div>
</section>

<section class="card p-3">
  <div class="card-header bg-black">
  <h1>Acerca</h1>
  </div>
  <div class="card-body">
    <div class="text-center">
    <img class="rounded mx-auto" width="70%" src="/img/logo.png" alt="Logo bermoz">

    <p>DESARROLLADO POR:</p>
    <h3>Bernardo Molina Zuluaga.</h3>
    <p>Correo Electrónico: bermoz@gmail.com</p>
    </div>
  </div>
  <div class="card-footer bg-transparent ">
    <div class="text-center">
   <a class="btn btn-primary btn-lg " href="https://www.bermoz.net" target="_blank" role="button">Leer más</a>
  </div>
</div>
</section>
</div>
