<div class="jumbotron mt-4">
  <h1 class="display-6">Aplicación DEMOSTRACIÓN</h1>
  <h1 class="display-4">RECURSOS COMISION DELA VERDAD</h1>
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
  <p class="lead">Esta es una simple aplicación para manejo de recursos documentales desarrollado con Tecnologia MERN Stack(MongoDB, Express, ReactJS y NodeJS).</p>
  <hr class="my-4">
  <p>Esta es una demostración de un protipo de aplicación para manejar recursos documentales para la comisión de la verdad, donde es necesario guardar recursos documentales usando el estándar Dublin Core.
  </p>
  <p>Usaremos el siguiente estándar para los metadatos:</p>
  <ul>
    <li>Título: Cadena de texto con el nombre dado a un recurso.</li>
    <li>Claves: Lista de cadenas de texto con los temas del recurso.</li>
    <li>Descripción: Cadena de texto resumen de un documento o una descripción en caso de ser un documento visual.</li>
    <li>Fuente: Cadena de texto identificador único del recurso.</li>
    <li>Tipo del Recurso: Cadena de texto con categoría del recurso. Use el siguiente dominio en este caso: Testimonio, Informe, Caso.</li>
    <li>Cobertura: Combinación entre un rango de fechas y una ubicación.</li>
  </ul>
  <p>DESARROLLADO POR: Bernardo Molina Zuluaga.</p>
  <p>Correo Electrónico: bermoz@gmail.com</p>
    <a class="btn btn-primary btn-lg" href="https://www.bermoz.net" target="_blank"  role="button"><i class="fa fa-globe"> </i> Mi pagina web Bermoz</a>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
      <div class="row">
      <img class="rounded mx-auto" width="70%" src="/img/comisionverdad.png" alt="Logo comisión de la verdad">
      </div>
      <div class="row">
      <img class="rounded mx-auto" width="70%" src="/img/logo.png" alt="Logo bermoz">
      </div>
    </div>
  </div>
</div>
