{{#if success_msg }}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="fa fa-bullhorn"> </i>
    {{success_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if error_msg }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="fa fa-bullhorn"> </i>
  {{error_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
