<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Recursos App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fa fa-home"> </i> Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fa fa-exclamation-circle"> </i> Acerca</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recursos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/recursos"><i class="fa fa-folder-open"> </i> ficha de los Recursos</a>
              <a class="dropdown-item" href="/recursos/listar-recursos"><i class="fa fa-folder-open"> </i> Listar Recursos</a>
              <a class="dropdown-item" href="/recursos/add"><i class="fa fa-file"> </i> Agregar un Recurso</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/notes"><i class="fa fa-folder-open"> </i> Todas las Notas</a>
              <a class="dropdown-item" href="/notes/add"><i class="fa fa-file"> </i> Agregar una Nota</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout"><i class="fa fa-power-off"> </i> Salir</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin"><i class="fa fa-key"> </i> Acceso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup"><i class="fa fa-user"> </i> Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
