<div class="col-md-12 mx-auto">
  <h3><i class="fa fa-folder"> </i> Todos las Notas de trabajo</h3>
</div>
<div class="col-md-12 mx-auto bg-white">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nota</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Acciones</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  {{#each notes}}
  <tr>
    <th scope="row"><i class="fa fa-check"> </i></th>
    <td>{{ title }}</td>
    <td>{{ description }}</td>
    <td><form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fa fa-trash"></i></button>
    </form></td>
    <td><a href="/notes/edit/{{_id}}" class="btn btn-danger btn-block btn-sm"><i class="fa fa-edit"></i></a></td>
  </tr>

  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <h1>Hola {{user.name}}</h1>
        <p clsss="lead">Todavía no hay notas.</p>
        <a href="/notes/add" class="btn btn-success btn-block">Crear una Nota ahora!</a>
      </div>
    </div>
  {{/each}}
  <tbody>
<table>
</div>
