{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3><i class="fa fa-file"> </i> Editar Recurso</h3>
    </div>
  <div class="card-body">
  <form action="/recursos/actualizar-recurso/{{recurso._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" name="titulo" class="form-control" value="{{recurso.titulo}}" autofocus />
          <label for="">Claves</label>
          <input type="text" name="claves" class="form-control" value="{{recurso.claves}}"></input>
          <label for="">Descripción</label>
          <textarea name="descripcion" class="form-control">{{recurso.descripcion}}</textarea>
        </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="">Fuente</label>
          <input type="text" name="fuente" class="form-control" value="{{recurso.fuente}}">
      </div>
      </div>
        <div class="col">
<div class="form-group">
          <label for="">Tipo de recurso</label>
          <select name="tiporecurso" class="form-control" value="{{recurso.tiporecurso}}">
            <!-- Opciones de la lista -->
            <option value="Testimonio">Testimonio</option>
            <option value="Informe">Informe</option> <!-- Opción por defecto -->
            <option value="Caso">Caso</option>
          </select>
        </div>
        </div>
    </div>
        <!-- Cobertura -->
<h3>COBERTURA</h3>
<div class="row">
<div class="col">
<div class="form-group">
<label for="">Fecha Inicial</label>
<input type="date" name="fechaini" class="form-control" value="{{recurso.fecha.ini}}">
</div>
</div>
<div class="col">
<div class="form-group">
<label for="">Fecha Final</label>
<input type="date" name="fechafin" class="form-control" value="{{recurso.fechafin}}">
</div>
</div>
</div>
<div class="row">
  <div class="col">
          <div class="form-group">
            <label for="">Ubicación</label>
            <input type="text" name="ubicacion" class="form-control" value="{{recurso.ubicacion}}">
          </div>
        </div>
            <div class="col">
              <div class="form-group">
                <label for="">Latitud</label>
                <input type="text" name="latitud" class="form-control" value="{{recurso.latitud}}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Longitud</label>
                <input type="text" name="longitud" class="form-control" value="{{recurso.longitud}}">
              </div>
            </div>
</div>

          <div class="form-group">
            <label for="">Dirección</label>
            <input type="text" name="direccion" class="form-control" value="{{recurso.direccion}}">
          </div>
<div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Ciudad</label>
                <input type="text" name="ciudad" class="form-control" value="{{recurso.ciudad}}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Codigo Postal</label>
                <input type="text" name="codigopostal" class="form-control" value="{{recurso.codigopostal}}">
              </div>
            </div>
      </div>
<div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Departamento</label>
                <input type="text" name="departamento" class="form-control" value="{{recurso.departamento}}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Pais</label>
                <input type="text" name="pais" class="form-control" value="{{recurso.pais}}">
              </div>
            </div>
  </div>

        <div class="card-footer bg-transparent ">
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Guardar
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
