<div class="row">
<div class="col-md-6 mx-auto">
  <h3><i class="fa fa-folder"> </i> Listado de los Recursos de la comisión</h3>
</div>
<div class="col-md-6 mx-auto">
  <a class="dropdown-item" href="/recursos"><i class="fa fa-folder-open"> </i> Vista ficha de todos los Recursos</a>
</div>
</div>
<div class="col-md-12 mx-auto bg-white">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recurso</th>
      <th scope="col">Claves</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fuente</th>
      <th scope="col">Tipo de Recurso</th>
      <th scope="col">Acciones</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  {{#each recursos}}
  <tr>
    <th scope="row"><i class="fa fa-check"> </i></th>
    <td>{{ titulo }}</td>
    <td>{{ claves }}</td>
    <td>{{ descripcion }}</td>
    <td>{{ fuente }}</td>
    <td>{{ tiporecurso }}</td>
    <td><form action="/recursos/delete/{{_id}}?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fa fa-trash"></i></button>
    </form></td>
    <td><a href="/recursos/edit/{{_id}}" class="btn btn-danger btn-block btn-sm"><i class="fa fa-edit">  </i> </a></td>
  </tr>

<!--
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <h4 class="card-title d-flex justify-content-between align-items-center">
            {{titulo}} <a href="/recursos/edit/{{_id}}"><i class="fa fa-edit"></i></a>
          </h4>
        </div>
        <div class="card-body">
          <label for="">Claves</label>
          <p>{{claves}} </p>
        </div>
        <div class="card-body">
          <label for="">Descripción</label>
          <p>{{descripcion}} </p>
        </div>
        <div class="card-body">
          <label for="">Fuente</label>
          <p>{{fuente}} </p>
        </div>
        <div class="card-body">
          <label for="">Tipo de Recurso</label>
          <p>{{tiporecurso}} </p>
        </div>
        <div class="card-footer bg-transparent ">
          - DELETE REQUEST -
          <form action="/recursos/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fa fa-trash"> </i> Borrar</button>
          </form>
        </div>
      </div>
    </div> -->
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <h1>Hola {{user.name}}</h1>
        <p clsss="lead">Todavía no hay recursos.</p>
        <a href="/recursos/add" class="btn btn-success btn-block">Crear un Recurso ahora!</a>
      </div>
    </div>
  {{/each}}
  <tbody>
<table>
</div>
