<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3><i class="fa fa-file"> </i> Nuevo Recurso</h3>
    </div>
    <div class="card-body">
      <form action="/recursos/new-recursos" method="POST">
        <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" name="titulo" class="form-control" placeholder="Titulo" autofocus />
          <label for="">Claves</label>
          <textarea name="claves" class="form-control" placeholder="Claves"></textarea>
          <label for="">Descripción</label>
          <textarea name="descripcion" class="form-control" placeholder="Descripción"></textarea>
        </div>
        <div class="row">
          <div class="col">
        <div class="form-group">
          <label for="">Fuente</label>
          <input type="text" name="fuente" class="form-control" placeholder="Fuente">
        </div>
        </div>
        <div class="col">
        <div class="form-group">
          <label for="">Tipo de recurso</label>
          <select name="tiporecurso" class="form-control" placeholder="Tipo de Recurso">
            <!-- Opciones de la lista -->
            <option value="Testimonio" selected>Testimonio</option>
            <option value="Informe">Informe</option> <!-- Opción por defecto -->
            <option value="Caso">Caso</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Cobertura -->
<h3>COBERTURA</h3>
<div class="row">
<div class="col">
        <div class="form-group">
          <label for="">Fecha Inicio</label>
          <input type="date" name="fechaini" class="form-control" placeholder="fecha inicio">
        </div>
</div>
<div class="col">
        <div class="form-group">
          <label for="">Fecha Final</label>
          <input type="date" name="fechafin" class="form-control" placeholder="fecha final">
        </div>
</div>
</div>
<div class="row">
<div class="col">
        <div class="form-group">
          <label for="">Ubicación</label>
          <input type="text" name="ubicacion" class="form-control" placeholder="Ubicacion">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="">Latitud</label>
          <input type="text" name="latitud" class="form-control" placeholder="Latitud">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="">Longitud</label>
          <input type="text" name="longitud" class="form-control" placeholder="Longitud">
        </div>
      </div>
      </div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="">Dirección</label>
      <input type="text" name="direccion" class="form-control" placeholder="Dirección">
  </div>
  <div class="row">
  <div class="col">
        <div class="form-group">
          <label for="">Ciudad</label>
          <input type="text" name="ciudad" class="form-control" placeholder="Ciudad">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="">Codigo Postal</label>
          <input type="text" name="codigopostal" class="form-control" placeholder="Codigo Postal">
        </div>
      </div>
  </div>
  <div class="row">
  <div class="col">
    <div class="form-group">
      <label for="">Departamento</label>
      <input type="text" name="departamento" class="form-control" placeholder="Departamento">
    </div>
  </div>
  <div class="col">
        <div class="form-group">
          <label for="">Pais</label>
          <input type="text" name="pais" class="form-control" placeholder="Pais">
        </div>
  </div>
</div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
