<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header"><i class="fa fa-user"> </i> 
        Registro de cuenta 
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
           <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" value="{{email}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Contraseña" value="{{confirm_password}}">
          </div>
          <button class="btn btn-primary btn-block">
            <i class="fa fa-id-card"> </i> Registrar 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
