<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4"><i class="fa fa-key"> </i> 
          Cuenta de Ingreso
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
          <button class="btn btn-primary btn-block">
            <i class="fa fa-key"> </i> Iniciar sesión
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
